<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-4">
            <img class="profImg" src={{user.profilePicUrl}}>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user.username}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>

<h1>Home</h1>