<nav id="main" class="greenBack">
    <ul>
        <li class="purlwiseLogo"><a href="/home">Purlwise</a></li>
        <li><a class='active' href="/home">Home</a></li>
        <li><a href="/generate">Generate</a></li>
        <li><a href="/profile">Saved Patterns</a></li>
        <li>
            <a href="/logout"><img class="profImg" src={{user.profilePicUrl}} alt="user profile image" /> {{user.username}}<i class="fas fa-sign-out-alt"></i></a>
        </li>
    </ul>
</nav>



<div class="site-wrap">

<div class="whiteBack">
    <div class="middleLogo">
        <h2 class="yellow logo-left">Welcome to</h2>
    
        <h1 class="logo">
            <span class="green">P</span>
            <span class="yellow">url</span>
            <span class="purple">wise</span>
        </h1>
        <h2 class="green logo-right">A free pattern bank</h3>
    </div>
</div>

    <div class="container pb-4">
        <div class="row">
            <div class="col-6 mb-4">
                <h1>Description</h1>
                <p>When embarking on a handmade project it can be easy to overspend, overcommit and overestimate your skill level. This free pattern bank is designed as a gateway to yarn crafts for makers of all ages and experience. Purlwise allows you to tailor your search query by pattern type, yarn weight, and clothing type. Patterns that appear will always be free and at a novice level, which you may save to your "Saved Patterns" for future projects.</p>
            </div>
            <div class="col-6 mb-4">
                <h1>Getting Started</h1>
                <p>Click "Generate" at the top of the page. Using the dropdown menus specify the type of pattern you're looking for. Press submit to generate your patterns. Click "Saved Patterns" to the right of "Generate" at the top of the page to view or edit saved patterns. </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/nav.js"></script>
