
<div>
    <div class="middleLogo">
    <h2 class="yellow logo-left">Welcome to</h2>
    
    <h1 class="logo">
        <span class="green">P</span>
        <span class="yellow">url</span>
        <span class="purple">wise</span>
    </h1>

    <h2 class="green logo-right">A free pattern bank</h3>
    </div>
</div>

<div style="width: 100%; text-align: center">
    <a href="/auth/github" class="btn btn-purl btn-lg">Login via Github</a>
</div>