html {
  box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
} 


body {
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;
  letter-spacing: -0.8px;
}

.list-group-item {
  line-height: 2.5;
}

#patternsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-properties {
  float: left;
  margin: 0.5rem;
  box-shadow: 0 0 20px rgba(7,7,7,0.95);
} 
.card-properties:hover {
  box-shadow: 0 0 18px rgba(7,7,7,1);
}

.profImg {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.imgForCard {
  object-fit: cover;
  height: 300px;
  overflow: hidden;
}

.card-properties {
  width: 400px;
  height: 500px;
  margin: 0.5rem 1rem;
}


.logo-image {
  background: url('../assets/purlwiseLogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 375px;
}

.btn-purl {
  color: #fff;
  background-color: #94c481;
  border-color: #94c481;
}

.btn-purl:hover{
  color: rgb(237, 237, 237);
}

.yellow {
  width: 100%;
  background: #f1c344
}

/* Form */
#form-container {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: left;
  margin: 0 10px;
  padding: 10px; 
}

.form-option {
  text-align: left;
}

.form-options {
  width: 250px;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
}

label {
  text-align: left;
  margin-bottom: -5px;
}

#generatePatterns {
  
}

/* Buttons */
button {
  background: rgba(166,77,121,1);
  color: white;
  border-radius: 5px;
  width: 5rem;
  padding: 5px;
  box-shadow: 0 0 10px rgba(7,7,7,0.8);
}

button:hover {
  cursor: pointer;
  background: rgba(166,77,121,0.9);
  box-shadow: 0 0 12px rgba(7,7,7,0.95);
}

a:link {
  color: white;
  text-decoration: none;
}

button:focus {
  outline: none;
}

.link {
  border-radius: 50%;
}


/* All spinner code copied from here https://stackoverflow.com/questions/6091253/overlay-with-spinner/20013732 */
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height:60px;
  width:60px;
  margin:0px auto;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(0,174,239,.15);
  border-right:6px solid rgba(0,174,239,.15);
  border-bottom:6px solid rgba(0,174,239,.15);
  border-top:6px solid rgba(0,174,239,.8);
  border-radius:100%;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

/* Media Queries */
/* Generate Form */
@media screen and (max-width: 800px) {
  #form-container {
    display: inline-block;
  }
  
}