html {
  box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
} 

:root {
  --yellow: #f1c344;
  --purp: #A64D79;
  --green: #94c481;
  --white: whitesmoke;
}

body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 1.6rem;
  letter-spacing: 1px;
  background: var(--yellow);
}

.middleLogo {
  width: 80%;
  margin: 10vh auto;
  padding: 40px;
}

.logo span {
  font-size: 170px;
  margin-left: -0.8rem;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  line-height: 150px;
  text-shadow: none;
}

.logo-right {
  font-size: 50px;
  text-align: right;
  font-family: 'Lato', sans-serif;
}

.logo-left {
  font-size: 50px;
  text-align: left;
  font-family: 'Lato', sans-serif;
}

.green {
  color: var(--green);
}

.yellow {
  color: var(--yellow);
}

.purple {
  color: var(--purp);
}

h1 {
  text-align: center;
  color: whitesmoke;
  font-family: 'Lato', sans-serif;
  letter-spacing: -0.8px;
  text-shadow: 0 0 5px rgba(7,7,7,0.6);}

h5 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: 700;
  line-height: 18px;
  font-size: 20px;
}

/* Nav Bar */

body.fixed-nav .site-wrap {
  transform: scale(1);
}

.site-wrap {
  transform: scale(0.98);
  transition: transform 0.5s;
}

nav {
  background: black;
  top: 0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  text-shadow: 0 0 5px rgba(7,7,7,0.4);
  z-index: 1;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
}

li.purlwiseLogo {
  max-width: 0;
  overflow: hidden;
  background: whitesmoke;
  transition: all 1s;
  font-weight: 900;
  font-size: 32px;
}

li.purlwiseLogo a {
  color: black;
}

.fixed-nav li.purlwiseLogo {
  max-width: 500px;
}

.nav-style{
  color: whitesmoke;
  margin: 0 15px;
  text-shadow: 0 0 4px rgba(7,7,7,0.2);
  overflow: hidden;
  padding: 14px, 16px;
}

.fullWidth {
  width: 100%;
}

.active {
  font-weight: 900;
  color: var(--yellow);
  font-size: 25px;
  text-shadow: 0 0 8px rgba(7,7,7,0.75);
}

.list-group-item {
  line-height: 2.5;
}

/* Cards on Generate and Profile Layouts*/
.project-item {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0,0,0,0);
}

.card-body {
  padding: 0 !important;
  text-align: center;
}

.card-properties {
  position: relative;
  height: 400px;
  margin: 0.5rem 1rem;
  box-shadow: 0 0 35px rgba(7,7,7,0.95);
  border-radius: 8px;
} 

.card-properties:hover {
  box-shadow: 0 0 18px rgba(7,7,7,1);
  transform: scale(1.05);
}

.card-title {
  background: var(--purp);
  box-shadow: 5px 0 5px rgba(7,7,7,0.2);
  color: white;
  width: 100%;
  padding: 10px;
}

.profImg {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(7,7,7,0.8);
}

.imgForCard {
  object-fit: cover;
  height: 300px;
  overflow: hidden;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.logo-image {
  background: url('../assets/purlwiseLogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 375px;
}

.btn-purl {
  color: #fff;
  background-color: var(--green);
  border-color: var(--green);
}

.btn-purl:hover{
  color: rgb(237, 237, 237);
  box-shadow: 0 0 8px rgba(7,7,7,0.2);
  transform: scale(1.1);
}

.whiteBack {
  background: var(--white);
}

.purpBack {
  width: 100%;
  background: var(--purp);
}

.greenBack {
  width: 100%;
  background: var(--green);
}

.save-btn {
  border: 6px solid rgba(0,0,0,0);
}

#noPatterns {
  padding: 20px;
  width: 100%;
  text-align: center;
  background: var(--purp);
  color: white;
  font-size: 20px;
  line-height: 25px;
}

/* Genereate Form */
#form-container {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: left;
  margin: 0 10px;
  padding: 10px; 
}

.form-option {
  text-align: left;
}

.form-options {
  width: 250px;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.form-options:focus {
  outline: none;
}

label {
  text-align: left;
  margin-bottom: -5px;
}

#submit, #next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 10px auto;
  font-size: 30px;
  padding: 5px;
}

#generatePatterns{
  width: 100%;
  margin: 5px;
}


/* Buttons */
button {
  background: rgba(166,77,121,1);
  color: white;
  border-radius: 5px;
  width: 50px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(7,7,7,0.8);
}

button:hover {
  cursor: pointer;
  background: rgba(166,77,121,0.9);
  box-shadow: 0 0 12px rgba(7,7,7,0.95);
}

a:link, a:focus, a:active, a:visited {
  color: white;
  text-decoration: none;
  border: 8px solid rgba(0,0,0,0);
}

button:focus {
  outline: none;
}


.link {
  border-radius: 50%;
  position: relative;
  flex: 1;
  margin: 0 15%;
}

.yellowBack {
  background:var(--yellow);
}


/* All spinner code copied from here https://stackoverflow.com/questions/6091253/overlay-with-spinner/20013732 */
.spinner {
  position: absolute;
  left: 48%;
  top: 50%;
  height:60px;
  width:60px;
  margin-top:120px;

  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgb(166,77,121);
  border-right:6px solid rgb(166,77,121);
  border-bottom:6px solid rgb(166,77,121);
  border-top:6px solid rgb(241,195,68);
  border-radius:100%;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

/* Media Queries */
/* Generate Form */
@media screen and (max-width: 900px) {
  body {
    font-size: 16px;
    line-height: 1.4rem;
    letter-spacing: 1px;
  }

  li.purlwiseLogo {
    font-size: 26px;
    font-weight: 700;
  }

  #form-container {
    display: inline-block;
  }
  .form-options {
    width: 70vw;
  }

  .middleLogo {
    width: 80%;
    margin: 10vh auto;
  }
  
  .logo span {
    font-size: 120px;
    margin-left: -0.6rem;
    line-height: 90px;
  }
  
  .logo-right {
    font-size: 40px;
  }
  
  .logo-left {
    font-size: 40px;
  }
}

@media screen and (max-width: 660px) {
  #form-container {
    display: inline-block;
  }
  .middleLogo {
    width: 80%;
    margin: 10vh auto;
  }
  
  .logo span {
    font-size: 100px;
    margin-left: -0.5rem;
    line-height: 80px;
  }
  
  .logo-right {
    font-size: 30px;
  }
  
  .logo-left {
    font-size: 30px;
  }
}